<md-content layout="column" flex id="account-settings-content">
  <form name="updateForm">
    <h2 class="md-subheader">头像</h2>
    <div layout="row" layout-align="start center">
      <div>
        <img class="avatar" ng-src="{{vm.user.avatar}}" />
      </div>
      <div>
        <md-button ng-click="vm.uploadImage($event)" class="md-raised md-accent">上传图片</md-button>
        <input hide type="file" id="fileInput" />
      </div>
    </div>
    <div layout="row">
      <md-input-container flex>
        <label>手机号</label>
        <input ng-model="vm.user.mobile" disabled>
      </md-input-container>
    </div>
    <div layout="row">
      <md-input-container flex>
        <label>用户名</label>
        <input ng-model="vm.user.name">
      </md-input-container>
    </div>
    <div layout="row">
      <md-input-container flex>
        <label>邮箱</label>
        <input name="email" type="email" ng-model="vm.user.email">
        <div ng-messages="updateForm.email.$error" ng-if="updateForm.email.$dirty">
          <div ng-message="email">输入的邮箱格式不正确</div>
        </div>
      </md-input-container>
    </div>
    <div layout="row">
      <md-input-container flex>
        <label>公司</label>
        <input ng-model="vm.user.company">
      </md-input-container>
    </div>
    <div flex layout="row" layout-align="space-between center">
      <md-button ng-disabled="updateForm.$invalid" ng-click="vm.update()" class="md-raised md-primary">保存</md-button>
    </div>
  </form>
</md-content>
