node_modules/
*.sublime-*
bower_components/
.sass-cache/
.tmp/
dist/
npm-debug.log
*.swp
*.swo
client/app/config.js
lyman/
server/public/sampleapps/ionic-client/www/lib
server/public/sampleapps/nodejs-backend/austack-variables.json
server/public/sampleapps/nodejs-backend/node_modules
.env
server/config/env/development.js
server/config/env/production.js
