/* Do not remove this comments bellow. It's the markers used by gulp-inject to inject
   all your sass files automatically */

// injector
// endinjector
html,
body {
  font-family: 'Microsoft YaHei', RobotoDraft, Roboto, 'Helvetica Neue', sans-serif
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

md-dialog {
  //max-width: 450px;
  min-width: 360px;
  md-toolbar {
    height: 48px !important;
    min-height: 48px;
  }
  md-dialog-content {
    padding: 16px;
  }
}

.md-toolbar-tools .md-button {
  min-width: inherit;
}

md-menu-item > .md-button {
  display: flex;
  display: -moz-box;
}

form {
  md-list-item .md-no-style {
    padding: 0 2px;
  }
  md-list-item .md-secondary {
    right: 0px !important;
  }
}

.collapse-animate {
  padding: 0 16px;
  background-color: #eee;
  max-width: 1000px;
  opacity: 1;
  transition: all 0.3s ease-in-out;
  &.ng-hide {
    background-color: #fff;
    opacity: 0;
    max-height: 0px;
  }
}
