.breadcrumb {
  padding: 8px 16px;
  margin: 8px;
  list-style: none;
  //background-color: #f5f5f5;
  //border-radius: 4px;
  li {
    display: inline-block;
  }
  li + li:before {
    padding: 0 6px;
    color: #ccc;
    content: "/\00a0";
  }
  .active {
    //color: #777;
  }
}
