<md-dialog aria-label="新建用户" id="repo-create">

  <md-toolbar class="md-accent">
    <div class="md-toolbar-tools">
      <h2>新建用户</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="create.close()" aria-label="Create a new repo">
        <md-icon md-svg-icon="navigation:ic_close_24px"></md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <md-dialog-content>
    <form name="createForm">
      <section layout="column">
        <md-input-container flex ng-repeat="item in create.repoSchema" ng-if="item.name != 'uid'">
          <label>{{item.name}}</label>
          <input name="{{item.name}}" ng-model="create.repo[item.name]" ng-model-options="{updateOn: 'default blur', debounce: {'default': 500, 'blur': 0}}">
        </md-input-container>
      </section>
    </form>
  </md-dialog-content>

  <div class="md-actions" layout="row">
    <span flex></span>
    <md-button ng-click="create.close()">取消</md-button>
    <md-button ng-disabled="createForm.$invalid" ng-click="create.create(createForm)" class="md-primary md-raised">确认创建</md-button>
  </div>

</md-dialog>