<md-content layout="column" flex layout-padding id="application-settings-content">
  <md-card class="tip">
    <md-card-content>
      <span>应用包含两部分：移动客户端和服务客户端。移动客户端可以借助austack提供的服务直接支持用户的注册，登录等功能。服务客户端可以使用austack提供的API管理用户。</span>
    </md-card-content>
  </md-card>
  <div layout="row" layout-md="column" layout-sm="column">
    <md-content flex md-scroll-x>
      <md-card layout="column">
        <md-card-content layout="row" layout-align="space-between center">
          <div flex>
            <img src="assets/images/ionic.png" class="icon-large" />
          </div>
          <h3 flex class="text-center">客户端（Ionic）</h3>
        </md-card-content>
        <div class="md-actions" layout="row" layout-align="space-between center">
          <md-button class="md-primary" ng-click="vm.showClientTutorial =! vm.showClientTutorial"> 示例说明 </md-button>
          <md-button class="md-primary md-raised" ng-click="vm.downloadClient()"> 下载示例代码 </md-button>
        </div>
        <md-content class="collapse-animate" ng-show="vm.showClientTutorial">
          <p>
            1. 加载austack的代码库
          </p>
          <hljs code="vm.ionicStep1" lang="html"></hljs>
          <p>
            2. 添加LoginCtrl到js/controllers.js内
          </p>
          <hljs lang="javascript">
angular.module('starter.controllers'.controller('LoginCtrl', function($scope, austack, $state, $window) {
    console.log('start LoginCtrl');

    function doAuth() {
        console.log('start doing signin');
        austack.signin({}, function(result) {
            // $window.localStorage.setItem('profile', result.profile);
            // $window.localStorage.setItem('refreshToken', result.refreshToken);
            $window.localStorage.setItem('token', result.idToken);
            alert(result.idToken);
            $state.go('tab.dash');
        }, function(error) {
            console.log(error);
        });
    }

    $scope.$on('$ionic.reconnectScope', function() {
        doAuth();
    });

    doAuth();
});
          </hljs>
          <p> 3. 添加其他插件，启动ios模拟器</p>
          <hljs lang="bash">
cordova platform add ios
cordova plugin add cordova-plugin-inappbrowser
ionic emulate ios -l -c -s
          </hljs>
        </md-content>
      </md-card>
    </md-content>
    <md-content flex md-scroll-x>
      <md-card layout="column">
        <md-card-content layout="row" layout-align="space-between center">
          <div flex>
            <img src="assets/images/nodejs.svg" class="icon-large" />
          </div>
          <h3 flex class="text-center">服务器端（NodeJS）</h3>
        </md-card-content>
        <div class="md-actions" layout="row" layout-align="space-between center">
          <md-button class="md-primary" ng-click="vm.showServerTutorial =! vm.showServerTutorial"> 示例说明 </md-button>
          <md-button class="md-primary md-raised" ng-click="vm.downloadBackend()"> 下载示例代码 </md-button>
        </div>
        <md-content class="collapse-animate" ng-show="vm.showServerTutorial">
          <p>
            1. app.js 设置支持cors
          </p>
          <hljs code="vm.nodeStep1" lang="js"></hljs>
          <p>
            2. app.js 设置系统启动则获得applicationJwt
          </p>
          <hljs code="vm.nodeStep2" lang="js"></hljs>
          <p>
            3. app.js设置路由支持已通过austack登录的客户端请求用户个人信息
          </p>
          <hljs code="vm.nodeStep3" lang="js"></hljs>
          <p>
            4. routes/user.js 设置路由的具体实现代码
          </p>
          <hljs code="vm.nodeStep4" lang="js"></hljs>
        </md-content>
      </md-card>
    </md-content>
  </div>
</md-content>
