<md-content layout="column" flex layout-padding id="application-settings-content">
  <md-card class="tip">
    <md-card-content>
      <span>应用包含两部分：移动客户端和服务客户端。移动客户端可以借助austack提供的服务直接支持用户的注册，登录等功能。服务客户端可以使用austack提供的API管理用户。</span>
    </md-card-content>
  </md-card>
  <div layout="row" layout-md="column" layout-sm="column">
    <md-content flex>
      <md-card layout="column">
        <md-card-content layout="row" layout-align="space-between center">
          <div flex>
            <img src="assets/images/ionic.png" class="icon-large" />
          </div>
          <h3 flex class="text-center">客户端（Ionic）</h3>
        </md-card-content>
        <div class="md-actions" layout="row" layout-align="space-between center">
          <md-button class="md-primary" ng-click="vm.showClientTutorial =! vm.showClientTutorial"> 示例说明 </md-button>
          <md-button class="md-primary md-raised" ng-click="vm.downloadClient()"> 下载示例代码 </md-button>
        </div>
        <md-content class="collapse-animate" ng-show="vm.showClientTutorial">
          <p>
            1. 加载预定义常量，建议放到js代码块的最前面
          </p>
          <hljs code="vm.ionicStep1" lang="html"></hljs>
          <p>
            2. 加载 angular-jwt.js 和 angular-austack.js
          </p>
          <hljs code="vm.ionicStep2" lang="html"></hljs>
          <p>
            3. 在app.js后面添加austack的config和run的代码块
          </p>
          <hljs code="vm.ionicStep3" lang="html"></hljs>
          <p>
            4. 添加controller 代码
          </p>
          <hljs code="vm.ionicStep4" lang="html"></hljs>
        </md-content>
      </md-card>
    </md-content>
    <md-content flex>
      <md-card layout="column">
        <md-card-content layout="row" layout-align="space-between center">
          <div flex>
            <img src="assets/images/nodejs.svg" class="icon-large" />
          </div>
          <h3 flex class="text-center">服务器端（NodeJS）</h3>
        </md-card-content>
        <div class="md-actions" layout="row" layout-align="space-between center">
          <md-button class="md-primary" ng-click="vm.showServerTutorial =! vm.showServerTutorial"> 示例说明 </md-button>
          <md-button class="md-primary md-raised" ng-click="vm.downloadBackend()"> 下载示例代码 </md-button>
        </div>
        <md-content class="collapse-animate" ng-show="vm.showServerTutorial">
          <p>
            1. app.js 设置支持cors
          </p>
          <hljs code="vm.nodeStep1" lang="js"></hljs>
          <p>
            2. app.js 设置系统启动则获得applicationJwt
          </p>
          <hljs code="vm.nodeStep2" lang="js"></hljs>
          <p>
            3. app.js设置路由支持已通过austack登录的客户端请求用户个人信息
          </p>
          <hljs code="vm.nodeStep3" lang="js"></hljs>
          <p>
            4. routes/user.js 设置路由的具体实现代码
          </p>
          <hljs code="vm.nodeStep4" lang="js"></hljs>
        </md-content>
      </md-card>
    </md-content>
  </div>
</md-content>
