<section id="application-list-content" layout="column" layout-fill flex>
  <md-content>
    <md-card>
      <md-card-content>
        <span>Austack applications are public entities owned by your account that your users can log in to. Users of an application can interact with it through connections and/or external services.</span>
      </md-card-content>
    </md-card>
  </md-content>
  <md-content ng-if="list.applications.length" id="application-items-content" flex>

    <md-list>
      <md-list-item ng-repeat="application in list.applications" ng-click="list.showInDetails(application)" ng-class="{'selected': list.isSelected(application)}">
        <list-image ng-if="!user.image" string="{{application.name}}"></list-image>
        <p>{{application.name}}</p>
        <md-button href="#" class="md-icon-button">
          <md-icon md-svg-icon="action:ic_description_24px"></md-icon>
          <md-tooltip>教程</md-tooltip>
        </md-button>
        <md-button href="#" class="md-icon-button">
          <md-icon md-svg-icon="action:ic_settings_24px"></md-icon>
          <md-tooltip>设置</md-tooltip>
        </md-button>
        <md-button href="#" class="md-icon-button">
          <md-icon md-svg-icon="action:ic_extension_24px"></md-icon>
          <md-tooltip>插件</md-tooltip>
        </md-button>
        <md-button href="#" class="md-icon-button">
          <md-icon md-svg-icon="action:ic_settings_input_component_24px"></md-icon>
          <md-tooltip>链接</md-tooltip>
        </md-button>
      </md-list-item>
    </md-list>

  </md-content>

  <md-content ng-if="!list.applications.length">
    <md-card>
      <md-card-content>
        <h2>No Applications found</h2>
        <p>
          There are no Applications!
          <a ng-click="index.create()">Create one!</a>
        </p>
      </md-card-content>
    </md-card>
  </md-content>

  <md-button ng-click="index.create()" class="md-fab md-accent md-fab-bottom-right" aria-label="Create a new application">
    <md-icon md-svg-icon="content:ic_add_24px"></md-icon>
  </md-button>

</section>
