<section id="application-list-content" layout="column" layout-fill flex>
  <md-content>
    <md-card>
      <md-card-content>
        <span>应用包含两部分：移动客户端和服务客户端。移动客户端可以借助austack提供的服务直接支持用户的注册，登录等功能。服务客户端可以使用austack提供的API管理用户。</span>
      </md-card-content>
    </md-card>
  </md-content>
  <md-content ng-if="list.applications.length" id="application-items-content" flex>

    <md-list>
      <md-list-item ng-repeat="application in list.applications" ng-class="{'selected': list.isSelected(application)}">
        <list-image ng-if="!user.image" string="{{application.name}}"></list-image>
        <p>{{::application.name}}</p>
        <p hide-md hide-sm>{{::application.description}}</p>
        <md-button ui-sref="application.detail.quickstart({id: application._id})" class="md-icon-button">
          <md-icon md-svg-icon="action:ic_description_24px"></md-icon>
          <md-tooltip>快速开始</md-tooltip>
        </md-button>
        <md-button ui-sref="application.detail.settings({id: application._id})" class="md-icon-button">
          <md-icon md-svg-icon="action:ic_settings_24px"></md-icon>
          <md-tooltip>设置</md-tooltip>
        </md-button>
        <md-button ui-sref="application.detail.loginpage({id: application._id})" class="md-icon-button">
          <md-icon md-svg-icon="action:ic_extension_24px"></md-icon>
          <md-tooltip>登入界面</md-tooltip>
        </md-button>
        <md-button ui-sref="application.detail.sms({id: application._id})" class="md-icon-button">
          <md-icon md-svg-icon="action:ic_speaker_notes_24px"></md-icon>
          <md-tooltip>短信</md-tooltip>
        </md-button>
      </md-list-item>
    </md-list>

  </md-content>

  <md-content ng-if="!list.applications.length">
    <md-card>
      <md-card-content>
        <p>
          应用列表为空
          <a ng-click="index.create()">现在创建</a>
        </p>
      </md-card-content>
    </md-card>
  </md-content>

  <md-button ng-click="index.create($event)" class="md-fab md-accent md-fab-bottom-right" aria-label="Create a new application">
    <md-icon md-svg-icon="content:ic_add_24px"></md-icon>
  </md-button>

</section>
