#application-list-content {
  md-card {
    .desc {
      min-height: 150px;
      color: #fff;
      background-color: $as-accent;
    }
    .md-button {
      min-width: inherit;
    }
    .md-menu {
      padding: 6px;
      .md-button.md-icon-button {
        padding: 0;
        margin: 0;
        line-height: 36px;
        width: 36px;
        height: 36px;
      }
    }
  }
}
