<md-card>
  <div class="desc" layout="row" layout-align="center center">
    <div>{{::application.description}}</div>
  </div>
  <div layout="row">
    <md-button ng-click="list.showSettings(application)">{{::application.name}}</md-button>
    <span flex></span>
    <md-menu>
      <md-button aria-label="Open interactions menu" class="md-icon-button" ng-click="$mdOpenMenu()">
        <md-icon md-menu-origin md-svg-icon="navigation:ic_more_vert_24px"></md-icon>
      </md-button>
      <md-menu-content width="2">
        <md-menu-item>
          <md-button ng-click="list.showQuickstart(application)">
            <md-icon md-svg-icon="action:ic_description_24px"></md-icon>
            <span>快速开始</span>
          </md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button ng-click="list.showSettings(application)">
            <md-icon md-svg-icon="action:ic_settings_24px"></md-icon>
            <span>设置</span>
          </md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button ng-click="list.showLoginpage(application)">
            <md-icon md-svg-icon="action:ic_extension_24px"></md-icon>
            <span>登入界面</span>
          </md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>
  </div>
</md-card>
