<md-dialog id="repo-code" flex="99">

  <md-toolbar class="md-accent">
    <div class="md-toolbar-tools">
      <h2>代码示例</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="code.close()" aria-label="关闭">
        <md-icon md-svg-icon="navigation:ic_close_24px"></md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <md-dialog-content>
    <md-select ng-model="code.selectedApp" placeholder="选择一个应用">
      <md-option ng-value="item" ng-repeat="item in code.applicationList">[应用名] {{ item.name }} - [ClientId] {{ item.clientId }}</md-option>
    </md-select>
    <md-button class="md-primary" ng-click="code.showStep('1')">1. 获取JWT令牌 </md-button>
    <md-content class="collapse-animate" ng-show="code.isShowStep('1')">
      <hljs lang="js" should-interpolate="true" re-render="code.selectedApp">var request = require('superagent');
var API_URL = '{{code.API_URL}}';
var clientId = '{{code.selectedApp.clientId}}';
var clientSecret = '{{code.selectedApp.clientSecret}}';

request.post(API_URL + '/auth/application')
  .set('Content-Type', 'application/json')
  .set('Accept', 'application/json')
  .send({
    clientId: clientId,
    clientSecret: clientSecret
  })
  .end(function (err, res) {
    if (err) {
      return console.log(err);
    }

    //成功获得application JWT
    var applicationJwt = res.body.token;
  });
      </pre>
    </md-content>
    <md-button class="md-primary" ng-click="code.showStep('2')">2. 创建新用户 </md-button>
    <md-content class="collapse-animate" ng-show="code.isShowStep('2')">
      <pre hljs code="code.step2" lang="js"></pre>
    </md-content>
    <md-button class="md-primary" ng-click="code.showStep('3')">3. 获取指定用户详细信息 </md-button>
    <md-content class="collapse-animate" ng-show="code.isShowStep('3')">
      <pre hljs code="code.step3" lang="js"></pre>
    </md-content>
    <md-button class="md-primary" ng-click="code.showStep('4')">4. 更新指定用户详细信息 </md-button>
    <md-content class="collapse-animate" ng-show="code.isShowStep('4')">
      <pre hljs code="code.step3" lang="js"></pre>
    </md-content>
    <md-button class="md-primary" ng-click="code.showStep('5')">5. 删除指定用户 </md-button>
    <md-content class="collapse-animate" ng-show="code.isShowStep('5')">
      <pre hljs code="code.step3" lang="js"></pre>
    </md-content>
    <md-button class="md-primary" ng-click="code.showStep('6')">6. 获取用户列表 </md-button>
    <md-content class="collapse-animate" ng-show="code.isShowStep('6')">
      <pre hljs code="code.step3" lang="js"></pre>
    </md-content>
    <br />

  </md-dialog-content>
</md-dialog>
