#repo-code {
  md-dialog-content {
    .md-button {
      display: block;
      width: 100%;
      text-align: left;
      margin: 0;
      background-color: #eee;
      border-radius: 0;
    }
  }
}
