<md-content id="shape-list-content" layout flex>
  <md-content layout="column" flex>
    <md-list flex dnd-list="list.schema">
      <!--md-list-item class="list-head">
        <p>字段名称</p>
        <span flex></span>
        <p>字段类型</p>
      </md-list-item-->
      <md-list-item dnd-draggable="field" dnd-moved="list.moved($index)" dnd-effect-allowed="move" dnd-selected="list.curField = field" ng-class="{'selected': list.curField === field}" ng-click="list.showDetail(field)" ng-repeat="field in list.schema">
        <p>{{field.name}}</p>
        <span flex></span>
        <p>{{field.props.type | shapeType}}</p>
      </md-list-item>
    </md-list>
  </md-content>

  <ng-include src="'app/shape/list/field/detail.html'"></ng-include>
  <ng-include src="'app/shape/list/field/edit.html'"></ng-include>
  <ng-include src="'app/shape/list/field/create.html'"></ng-include>

  <md-button ng-click="list.showCreate()" class="md-fab md-accent md-fab-bottom-right" aria-label="Create a new application">
    <md-icon md-svg-icon="content:ic_add_24px"></md-icon>
  </md-button>
</md-content>
