<section id="shape-list-content" layout="row" layout-fill flex>
  <div layout="column" flex>
    <md-list>
      <md-list-item ng-click="list.showDetail(field)" ng-repeat="field in list.schema">
        <p>{{field.name}}</p>
        <span flex></span>
        <p>{{field.props.type | shapeType}}</p>
      </md-list-item>
    </md-list>
  </div>

  <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="detailView">
    <md-toolbar class="md-accent">
      <div class="md-toolbar-tools">
        <h2>编辑字段</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="list.closeDetail()" aria-label="Close detail">
          <md-icon md-svg-icon="navigation:ic_close_24px"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-content layout-padding layout="column">
      <form name="detailForm">

        <md-input-container flex>
          <label>字段名称</label>
          <input name="name" ng-model="list.curField.name" disabled ng-model-options="{updateOn: 'default blur', debounce: {'default': 500, 'blur': 0}}" required mongoose-error remote-unique="Shape">
          <div ng-messages="{message: true}">
            <div ng-message="message">字段名称无法修改</div>
          </div>
        </md-input-container>
        <md-input-container flex>
          <label>字段类型</label>
          <md-select name="type" placeholder="字段类型" ng-model="list.curField.props.type" required>
            <md-option ng-repeat="type in list.shapeTypes" value="{{type.name}}">{{type.text}}</md-option>
          </md-select>
          <div ng-messages="required">
            <div ng-message="required">字段类型不能为空</div>
          </div>
        </md-input-container>
        <md-list>
          <md-list-item>
            <p>是否必须</p>
            <md-switch class="md-secondary" ng-model="list.curField.props.required"></md-switch>
          </md-list-item>
          <md-list-item>
            <p>是否唯一</p>
            <md-switch class="md-secondary" ng-model="list.curField.props.unique"></md-switch>
          </md-list-item>
          <md-list-item>
            <p>是否索引</p>
            <md-switch class="md-secondary" ng-model="list.curField.props.index"></md-switch>
          </md-list-item>
        </md-list>

        <div flex layout="row" layout-align="space-between center">
          <md-button ng-disabled="updateForm.$invalid" ng-click="list.updateField()" class="md-raised md-primary">保存</md-button>
          <md-button ng-click="list.removeField($event)" class="md-warn">删除字段</md-button>
        </div>
      </form>
    </md-content>
  </md-sidenav>

  <md-button ng-click="list.addField($event)" class="md-fab md-accent md-fab-bottom-right" aria-label="Create a new application">
    <md-icon md-svg-icon="content:ic_add_24px"></md-icon>
  </md-button>
</section>
