#shape-list-content {
  .list-head {
    color: $as-primary;
  }
  [dnd-list],
  [dnd-list] > li {
    position: relative;
  }
  [dnd-list] .dndDraggingSource {
    display: none;
  }
  [dnd-list] .dndPlaceholder {
    display: block;
    background-color: #ddd;
    min-height: 48px;
  }
}
