#shape-list-content {
  .list-head {
    color: $as-primary;
  }
  [dnd-list] {
    position: relative;
    md-list-item {
      position: relative;
      min-height: 36px;
      margin-bottom: 12px;
      background-color: lighten($as-primary, 30%);
      border-left: 3px solid $as-accent;
    }
    .dndDraggingSource {
      display: none;
    }
    .dndPlaceholder {
      display: block;
      background-color: lighten($as-primary, 30%);
      min-height: 36px;
      margin-bottom: 12px;
    }
  }
}
