<md-content layout="column" flex layout-padding id="application-loginpage-content">
  <div flex ng-model="vm.template" ui-ace="{mode:'html', useWorker: false, useWrapMode: true, showGutter: true, onLoad: vm.aceLoaded, onChange: vm.aceChanged}">
  </div>
  <md-fab-speed-dial md-direction="up" class="md-fling ng-animate">
    <md-fab-trigger>
      <div>
        <md-button ng-click="vm.preview($event)" aria-label="预览" class="md-fab md-accent">
          <md-icon md-svg-icon="action:ic_visibility_24px">
          </md-icon>
          <md-tooltip md-direction="left">预览</md-tooltip>
        </md-button>
      </div>
    </md-fab-trigger>
    <md-fab-actions>
      <md-button ng-click="vm.update()" aria-label="保存" class="md-fab md-raised md-primary md-mini">
        <md-icon md-svg-icon="action:ic_done_24px"></md-icon>
        <md-tooltip md-direction="left">保存</md-tooltip>
      </md-button>
      <md-button ng-click="vm.discard()" aria-label="重置" class="md-fab md-warn md-mini">
        <md-icon md-svg-icon="action:ic_cached_24px"></md-icon>
        <md-tooltip md-direction="left">丢弃修改</md-tooltip>
      </md-button>
      <md-button ng-click="vm.setDefault()" aria-label="重置" class="md-fab md-warn md-hue-1 md-mini">
        <md-icon md-svg-icon="action:ic_receipt_24px"></md-icon>
        <md-tooltip md-direction="left">重置为默认</md-tooltip>
      </md-button>
    </md-fab-actions>
  </md-fab-speed-dial>
</md-content>
