.breadcrumb {
  font-size: 24px !important;
  font-weight: 400 !important;
  list-style: none;
  padding-left: 0;
  md-icon {
    margin-right: 6px;
    color: #ccc !important;
  }
  li {
    display: inline-block;
  }
}
