<md-content layout="column" flex layout-padding id="application-settings-content">
  <form name="updateForm">
    <div layout="row">
      <md-input-container flex>
        <label>应用 ID</label>
        <input ng-model="vm.application.clientId" disabled>
      </md-input-container>
      <md-button hide class="md-fab md-mini md-primary">
        <md-icon md-svg-icon="content:ic_content_copy_24px"></md-icon>
        <md-tooltip>拷贝</md-tooltip>
      </md-button>
    </div>
    <div layout="row">
      <md-input-container flex>
        <label>应用令牌</label>
        <input ng-model="vm.application.clientSecret" disabled>
      </md-input-container>
      <md-button ng-click="vm.refreshSecret()" class="md-fab md-mini md-accent">
        <md-icon md-svg-icon="navigation:ic_refresh_24px"></md-icon>
        <md-tooltip>刷新</md-tooltip>
      </md-button>
      <md-button hide class="md-fab md-mini md-primary">
        <md-icon md-svg-icon="content:ic_content_copy_24px"></md-icon>
        <md-tooltip>拷贝</md-tooltip>
      </md-button>
    </div>
    <md-input-container flex>
      <label>应用名称</label>
      <input name="name" ng-model="vm.name" ng-model-options="{updateOn: 'default blur', debounce: {'default': 500, 'blur': 0}}" required mongoose-error remote-unique="Application">
      <div ng-messages="updateForm.name.$error">
        <div ng-message="required">应用名称不能为空</div>
        <div ng-message="mongoose">此应用名称已经被使用</div>
        <div ng-message="remote-unique">此应用名称已经被使用</div>
      </div>
    </md-input-container>
    <md-input-container flex>
      <label>应用简介</label>
      <textarea name="description" ng-model="vm.application.description"></textarea>
    </md-input-container>
    <md-input-container flex>
      <label>回调链接</label>
      <textarea ng-model="vm.application.callbackUrls" columns="1"></textarea>
    </md-input-container>
    <md-input-container flex>
      <label>注册短信模板</label>
      <textarea ng-model="vm.application.smsTemplate" columns="1"></textarea>
    </md-input-container>
    <md-input-container flex="">
      <label>令牌过期时间（秒）</label>
      <input type="number" ng-model="vm.application.jwtExpiration">
    </md-input-container>
    <div flex layout="row" layout-align="space-between center">
      <md-button ng-disabled="updateForm.$invalid" ng-click="vm.update()" class="md-raised md-primary">保存</md-button>
      <md-button ng-click="vm.delete()" class="md-warn">删除应用</md-button>
    </div>
  </form>
</md-content>
