<section id="repo-list-content" layout="row" layout-fill flex>
  <div layout="column" flex>
    <md-list>
      <md-list-item>
        <p ng-repeat="(key, value) in list.listHeader">{{::key}}</p>
      </md-list-item>
      <md-list-item ng-click="list.showDetail(itemKey, itemValue)" aria-label="Edit {{::itemValue}}" ng-repeat="(itemKey, itemValue) in list.listData">
        <p ng-repeat="(key, value) in list.listHeader">{{itemValue[key]}}</p>
      </md-list-item>
    </md-list>
    <md-button class="md-raised">上一页</md-button>
    <md-button class="md-raised">下一页</md-button>
  </div>

  <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="detailView">
    <md-toolbar class="md-accent">
      <div class="md-toolbar-tools">
        <h2>编辑用户</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="list.closeDetail()" aria-label="Close detail">
          <md-icon md-svg-icon="navigation:ic_close_24px"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-content layout-padding layout="column">
      <form name="detailForm">

        <md-input-container flex ng-repeat="(key, value) in list.listHeader">
          <label>{{key}}</label>
          <input name="{{key}}" ng-model="list.listData[list.currentEditKey][key]" ng-model-options="{updateOn: 'default blur', debounce: {'default': 500, 'blur': 0}}">
        </md-input-container>
        <div flex layout="row" layout-align="space-between center">
          <md-button ng-disabled="updateForm.$invalid" ng-click="list.updateField()" class="md-raised md-primary">保存</md-button>
          <md-button ng-click="list.removeItem($event)" class="md-warn">删除用户</md-button>
        </div>
      </form>
    </md-content>
  </md-sidenav>

  <md-button ng-click="list.addField($event)" class="md-fab md-accent md-fab-bottom-right" aria-label="Create a new application">
    <md-icon md-svg-icon="content:ic_add_24px"></md-icon>
  </md-button>
</section>