<md-data-table-container>
  <table md-data-table md-row-select="list.selected" md-progress="list.deferred">
    <thead md-order="list.repoData.order" md-trigger="list.onOrderChange">
      <tr>
        <th ng-repeat="item in list.listHeader" order-by="{{item.name}}" name="{{item.name}}"></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in list.listData" ng-click="list.showDetail(item, $index)">
        <td ng-repeat="keyItem in list.listHeader">{{item[keyItem.name]}}</td>
      </tr>
    </tbody>
  </table>
</md-data-table-container>

<md-data-table-pagination md-limit="list.query.limit" md-page="list.query.page" md-total="{{list.repoData.total}}" md-trigger="list.onPaginationChange"></md-data-table-pagination>

<section id="repo-list-content" layout="row" layout-fill flex>
  <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="detailView">
    <md-toolbar class="md-accent">
      <div class="md-toolbar-tools">
        <h2>编辑用户</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="list.closeDetail()" aria-label="Close detail">
          <md-icon md-svg-icon="navigation:ic_close_24px"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-content layout-padding layout="column">
      <form name="detailForm">

        <md-input-container flex ng-repeat="keyItem in list.listHeader" ng-if="keyItem.name != 'uid'">
          <label>{{keyItem.name}}</label>
          <input name="{{key}}" ng-model="list.currentEditItem[keyItem.name]" ng-model-options="{updateOn: 'default blur', debounce: {'default': 500, 'blur': 0}}">
        </md-input-container>
        <div flex layout="row" layout-align="space-between center">
          <md-button ng-disabled="updateForm.$invalid" ng-click="list.updateItem()" class="md-raised md-primary">保存</md-button>
          <md-button ng-click="list.removeItem($event)" class="md-warn">删除用户</md-button>
        </div>
      </form>
    </md-content>
  </md-sidenav>

  <md-button ng-click="list.addItem($event)" class="md-fab md-accent md-fab-bottom-right" aria-label="创建新用户">
    <md-icon md-svg-icon="content:ic_add_24px"></md-icon>
  </md-button>
</section>