<section id="repo-list-content" layout="column" layout-fill flex>
  <!-- for repos data structure, look into https://github.com/arrking/austack-core/issues/126 -->
  <md-content ng-if="!list.repos.data.length" id="repo-items-content" flex>

    <md-list>
      <md-list-item class="md-1-line">
        <div class="md-list-item-text" ng-repeat="(key, value) in list.listHeader">
          <h3> {{::key}} </h3>
        </div>
      </md-list-item>
      <md-list-item class="md-1-line" ng-repeat="itemData in list.listData">
        <div class="md-list-item-text" ng-repeat="item in itemData">
          <h3>{{::item}}</h3>
        </div>
      </md-list-item>

    </md-list>

    <md-list>
      <md-list-item ng-repeat="repo in list.repos.data" ng-class="{'selected': list.isSelected(repo)}">
        <list-image ng-if="!user.image" string="{{repo.name}}"></list-image>
        <p>{{::repo.name}}</p>
        <p hide-md hide-sm>{{::repo.description}}</p>
      </md-list-item>
    </md-list>

  </md-content>

  <md-content ng-if="!list.repos.data.length">
    <md-card>
      <md-card-content>
        <p>
          数据列表为空
          <a ng-click="index.create()">现在创建</a>
        </p>
      </md-card-content>
    </md-card>
  </md-content>

  <md-button ng-click="index.create($event)" class="md-fab md-accent md-fab-bottom-right" aria-label="Create a new repo">
    <md-icon md-svg-icon="content:ic_add_24px"></md-icon>
  </md-button>

</section>