md-sidenav[md-component-id="mainMenu"] {
  md-toolbar list-image div {
    margin: 0 16px 0 0;
  }
  md-divider {
    margin: 10px;
  }
  md-toolbar .logo {
    img {
      height: 60px;
      margin-right: 16px;
    }
    span {
      font-size: 32px;
    }
  }
  md-menu-item > .md-button {
    display: -moz-box;
  }
  md-menu-item.active {
    color: rgb(255, 64, 129);
    md-icon {
      color: rgb(255, 64, 129);
    }
  }
}
