<md-sidenav md-component-id="mainMenu" class="md-sidenav-left md-whiteframe-z2" md-is-locked-open="$mdMedia('gt-sm')">
  <md-toolbar>
    <span class="logo md-toolbar-tools">
      <img src="assets/images/logo.png">
      <span>Austack</span>
    </span>
  </md-toolbar>
  <md-list flex ng-controller="SidebarController as menu">
    <div ng-repeat="item in menu.items">
      <md-menu-item ui-sref="{{item.state}}">
        <md-button>
          <md-icon ng-if="item.icon" md-svg-icon="{{ item.icon }}"></md-icon>
          {{ item.name }}
        </md-button>
      </md-menu-item>
    </div>
    <md-divider></md-divider>
    <div hide-gt-md ng-controller="HeaderController as vm">
      <md-menu-item href="{{item.url}}" ng-repeat="item in vm.menus">
        <md-button>
          <md-icon md-svg-icon="{{ item.icon }}"></md-icon>
          {{ item.text }}
        </md-button>
      </md-menu-item>
    </div>
  </md-list>
</md-sidenav>
