md-sidenav[md-component-id="mainMenu"] {
  $sidenavWidth: 260px;
  width: $sidenavWidth;
  min-width: $sidenavWidth;
  max-width: $sidenavWidth;
  &.md-locked-open {
    width: $sidenavWidth;
    min-width: $sidenavWidth;
    max-width: $sidenavWidth;
  }
  .toggle-icon {
    margin-right: 0px;
    transform: rotate(0deg);
    transition: transform 0.3s ease-in-out;
    &.toggled {
      transform: rotate(180deg);
    }
  }
  .submenu {
    height: 36px;
    .md-button {
      padding-left: 60px;
      transition: all 0.3s ease-in-out;
    }
    max-height: 100px;
    opacity: 1;
    transition: all 0.3s ease-in-out;
  }
  .submenu.ng-hide {
    max-height: 0px;
    opacity: 0;
    .md-button {
      padding-left: 16px;
    }
  }
  md-divider {
    margin: 10px;
  }
  md-toolbar .logo {
    img {
      width: 240px
    }
    span {
      font-size: 32px;
    }
  }
}
