<form class="card" name="userDetailForm" layout="column" layout-fill layout-align="space-between" ng-submit="signup.submitUserDetail(userDetailForm)">
  <md-input-container>
    <label>用户ID</label>
    <input name="userId" ng-model="signup.user.userId" required/>
    <div ng-messages="userDetailForm.userId.$error" ng-if="userDetailForm.userId.$dirty">
      <div ng-message="required">请输入您的用户ID</div>
    </div>
  </md-input-container>
  <md-input-container>
    <label>密码</label>
    <input name="password" type="password" ng-model="signup.user.password" required/>
    <div ng-messages="userDetailForm.password.$error" ng-if="userDetailForm.password.$dirty">
      <div ng-message="required">请输入您的密码！</div>
    </div>
  </md-input-container>
  <md-input-container>
    <md-button class="md-primary md-raised" ng-disabled="!userDetailForm.$valid" type="submit">提交注册</md-button>
  </md-input-container>
</form>
