#signup-content {
  .done {
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
    border-radius: 50%;
    background-color: rgb(255, 64, 129);
    color: #fff;
  }
  .captcha {
    margin-top: 20px;
    height: 30px;
  }
  .step {
    padding: 8px 16px;
    margin: 8px;
    //list-style: none;
    //background-color: #f5f5f5;
    //border-radius: 4px;
    li {
      color: #fff;
      display: inline-block;
    }
    li + li:before {
      padding: 0 6px;
      color: $as-accent;
      content: "/\00a0";
    }
    .active {
      color: rgb(255, 64, 129);
    }
  }
}
