<md-dialog id="profile-content">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>账号</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="vm.close()" aria-label="Close profile">
        <md-icon md-svg-src="navigation:ic_close_24px"></md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <div class="header md-whiteframe-z1">
    <img ng-src="{{vm.user.avatar}}" />
    <h1 class="md-headline">{{vm.user.name}}</h1>
  </div>
  <md-dialog-content>
    <md-list>
      <md-subheader class="md-no-sticky">账户信息</md-subheader>
      <md-list-item>
        <p> {{vm.user.mobile}} </p>
        <md-icon class="md-primary" md-svg-icon="action:ic_settings_phone_24px"></md-icon>
      </md-list-item>
      <md-list-item>
        <p> {{vm.user.signupAt | date: "yyyy-MM-dd HH:mm"}} </p>
        <md-icon class="md-primary" md-svg-icon="action:ic_event_24px"></md-icon>
      </md-list-item>
    </md-list>
    <div class="md-actions" layout="row">
      <span flex></span>
      <md-button ng-click="vm.gotoSettings()" class="md-primary">编辑个人资料</md-button>
    </div>
  </md-dialog-content>
</md-dialog>
