<md-dialog aria-label="Create a new application" id="application-create">

  <md-toolbar class="md-accent">
    <div class="md-toolbar-tools">
      <h2>新建应用</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="create.close()" aria-label="Create a new application">
        <md-icon md-svg-icon="navigation:ic_close_24px"></md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <md-dialog-content>
    <section layout="column">
      <p>
        请输入一个友好的应用名称，稍后您可以其他设置。
      </p>
    </section>

    <form name="createForm">

      <section layout="column">

        <md-input-container flex>
          <label>应用名称</label>
          <input name="name" ng-model="create.application.name" ng-model-options="{updateOn: 'default blur', debounce: {'default': 500, 'blur': 0}}" required mongoose-error remote-unique="Application">
          <div ng-messages="createForm.name.$error" ng-if="createForm.name.$dirty">
            <div ng-message="required">应用名称不能为空</div>
            <div ng-message="mongoose">此应用名称已经被使用</div>
            <div ng-message="remote-unique">此应用名称已经被使用</div>
          </div>
        </md-input-container>
        <md-input-container flex>
          <label>应用简介</label>
          <textarea name="description" ng-model="create.application.description"></textarea>
        </md-input-container>

      </section>

    </form>

  </md-dialog-content>

  <div class="md-actions" layout="row">
    <span flex></span>
    <md-button ng-click="create.close()">取消</md-button>
    <md-button ng-disabled="createForm.$invalid" ng-click="create.create(createForm)" class="md-primary md-raised">确认创建</md-button>
  </div>

</md-dialog>
