#account-content {
  background-color: #eee;
  nav .logo {
    width: 240px;
  }
  md-toolbar {
    background-color: #eee;
    .md-toolbar-tools {
      max-width: 900px;
      margin: 0 auto;
    }
    .md-button {
      color: rgba(0, 0, 0, 0.87);
      &.active {
        color: rgb(255, 64, 129)
      }
    }
  }
  md-card {
    width: 100%;
    max-width: 360px;
  }
}
